:root {
  --size: 600px;
  // --size: 80vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

.layout-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .duration-selector {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    label {
      cursor: pointer;
    }

    label+label {
      margin-top: 8px;
    }
  }
}

.target {
  height: var(--size);
  width: var(--size);
  // border: 1px dotted #01395E;
  cursor: pointer;
}

.slider-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  input {
    width: calc(100% - 150px);
    cursor: grab;

    &.active {
      cursor: grabbing;
    }
  }

  .current-value {
    display: inline-block;
    text-align: center;
    width: 80px;
  }
}
