.target {
  background: url(./../assets/img/Circle_SafetyC_Sprite.png) top left no-repeat;
  background-size: 1400% 1900%;
}

.slider-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  input {
    width: calc(100% - 150px);
    cursor: grab;

    &.active {
      cursor: grabbing;
    }
  }

  .current-value {
    display: inline-block;
    text-align: center;
    width: 80px;
  }
}
